html {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  border: 2px solid;
  border-radius: 8px;
  margin-right: 1.5rem;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

ol {
  display: flex;
  flex-direction: row;
  list-style: none;
  background-color: #ede3db;
  flex-wrap: wrap;
}

h2 {
  color: #623b0c;
  font-family: "Denk One";
  font-style: normal;
}

a {
  background-color: #623b0c;
  color: #fff;
}
