html {
  line-height: 1.5;
  box-sizing: border-box;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  background-color: #f5f2f0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row: auto;
  list-style: none;
  grid-row-gap: 1rem;
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
}

ol li {
  border: 2px solid #623b0c;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  list-style: none;
  background-color: #ede3db;
  flex-wrap: wrap;
  padding: .5em .75em .6em 1rem;
}

h1 {
  margin: 1rem;
  margin-bottom: 1.5rem;
  color: #623b0c;
  font-family: "Denk One";
}

h2 {
  color: #623b0c;
  font-family: "Denk One";
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

a {
  border: 2px solid;
  border-radius: 8px;
  background-color: #623b0c;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  justify-content: center;
  padding: .5em .75em .6em 1rem;
  margin: 0;
}

p {
  margin-bottom: 1.5rem;
}
